*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.square{
  width: 100px;
  height: 100px;
  background: #21bdad;
  border: 1px solid white;
  color:white;
  text-align: center;
  line-height:100px;
  font-size: 50px;

 
}

#game{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#head, #winner{
  font-size: 25px;
  padding: 15px;
}